@import '../../assets/styles/_var';

.movie-details {
  position: relative;
  padding: 40px 0;
  .backdrop-wr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .backdrop-inner {
    background-color: #fafbfb;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .movie-details-inner {
    background-color: $blue-color;
    color: #fff;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .poster-wr {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .vote {
    right: 40px;
    top: 40px;
    padding: 4px 12px;
  }
  .details-wr {
    padding: 30px 40px 30px 0;
  }
  .top-block {
    margin-bottom: 25px;
  }
  h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 7px;
    padding-right: 100px;
  }
  blockquote {
    font-size: 28px;
    font-family: $cursive-font;
    line-height: 32px;
    display: block;
  }
  p {
    margin-bottom: 10px;
  }
  .descr-title {
    color: #4b8dca;
    padding-right: 5px;
  }
  li {
    display: inline-block;
    vertical-align: top;
    &:not(:first-child):not(:last-child):after {
      content: ', ';
      display: inline-block;
      padding-right: 5px;
    }
  }
  .movie-button {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    i {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding-left: 2px;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      font-size: 10px;
      line-height: 30px;
      background-color: $light_blue-color;
      margin-right: 10px;
    }
    span {
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    &:hover {
      span {
        color: #4b8dca;
      }
    }
  }
  @include md {
    .movie-details-inner {
      max-width: calc(100% - 120px);
      grid-template-columns: 340px 1fr;
      grid-column-gap: 30px;
    }
    h1 {
      font-size: 36px;
      line-height: 40px;
    }
    blockquote {
      font-size: 24px;
      line-height: 28px;
    }
    .details-wr {
      padding: 30px 30px 30px 0;
    }
    .vote {
      right: 30px;
      top: 30px;
    }
  }
  @include sm {
    .movie-details-inner {
      max-width: calc(100% - 60px);
      display: block;
    }
    .details-wr {
      padding: 30px;
    }
    h1 {
      padding-right: 80px;
    }
  }
  @include xs {
    .movie-details-inner {
      max-width: calc(100% - 30px);
    }
    .details-wr {
      padding: 15px 15px 20px;
    }
    .top-block {
      margin-bottom: 15px;
    }
    h1 {
      font-size: 24px;
      line-height: 30px;
      padding-right: 65px;
    }
    blockquote {
      font-size: 22px;
      line-height: 24px;
    }
    .vote {
      right: 18px;
      top: 18px;
      padding: 1px 8px 0;
    }
    .movie-button {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}