@import '../../assets/styles/var';

.error {
  .title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }
  @include xs {
    font-size: 14px;
    .title {
      font-size: 18px;
    }
  }
}