@import '../../assets/styles/_var';

header {
  background-color: #041e50;
  padding: 12px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    width: 50px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
  }
  span {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    font-family: $cursive-font;
    line-height: 1;
    color: #fff;
  }
  .right-wr {

  }
  .search-wr {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
  }
  .search-form {
    position: relative;
  }
  .search-text {
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
    padding: 0 55px 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .search-button {
    font-size: 20px;
    color: $grey-color;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    &:hover {
      color: $blue-color;
    }
  }
  .git-link {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    line-height: 40px;
    border: 2px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    a {
      font-size: 20px;
      color: #fff;
      display: block;
    }
    &:hover {
      background-color: #fff;
      a {
        color: $blue-color;
      }
    }
  }
  @include xs {
    padding: 10px 0 15px;
    .container {
      display: block;
    }
    .search-wr {
      margin-top: 15px;
      width: 100%;
    }
    .git-link {
      position: absolute;
      right: 15px;
      top: 11px;
      margin: 0;
    }
  }
}