@import '../../assets/styles/_var';

footer {
  background-color: $blue-color;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .git-link {
    a {
      font-size: 14px;
      color: #fff;
      &:hover {
        i {
          color: #4b8dca;
        }
      }
    }
    i {
      font-size: 20px;
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }
  }
  .tmdb-link {
    a {
      font-size: 0;
      display: block;
    }
    img {
      width: 110px;
    }
  }
}